@import "tailwindcss";
@import "leaflet/dist/leaflet.css";
@import "leaflet-defaulticon-compatibility/dist/leaflet-defaulticon-compatibility.css";

:root {
  --background: #ffffff;
  --foreground: #171717;
  
  --textGray: #71767b;
  --textGrayLight: #e7e9ea;
  --borderGray: #2f3336;
  --inputGray: #818181;
  --tekGreenLight: #AEE6B9;
  --tekGreen: #22AB39;
  --iconPink: #f91880;
}

:root {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* ✨ Add shimmer animation */
@layer utilities {
  .shimmer {
    position: relative;
    overflow: hidden;
    background-color: theme('colors.gray.300');
  }

  .shimmer::after {
    content: "";
    position: absolute;
    top: 0;
    left: -150%;
    height: 100%;
    width: 150%;
    background-image: linear-gradient(
      90deg,
      rgba(255,255,255,0) 0%,
      rgba(255,255,255,0.3) 50%,
      rgba(255,255,255,0) 100%
    );
    animation: shimmer 1.6s infinite;
  }

  @keyframes shimmer {
    100% {
      left: 100%;
    }
  }
}


